.nav{
    background-color: rgb(54, 54, 54);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 20px;
    width: 2500px;
}

.nav-title{
    color: white;
    display: inline-block;
    margin-left: 410px;
}

li {
    display: inline;
    margin: 10px;
    margin-left: 100px;
    padding-right: 30px;
}
.nav-links{
    display: inline-block;
    color: white;
    list-style-type: none;
    font-size: 1.5rem;
}

a{
    color: grey;
    text-decoration: none;
} 

.active{
    color:rgb(219, 215, 215)
}

.btn{
    font-size: 1.6rem;
    color: white;
    background-color:rgb(54, 125, 167);
    width: 150px;
    height: 35px;
    box-shadow: 5px 5px black;
    margin-left: 500px;
    border-style: solid;
}

.container{
    display: flex;
}

.ProfileCard{
    display: flex;
    flex-direction: column;
}
/* .flexbox-item{
    width: 200px;
    height: 200px;
    margin:10px;
    border: 3px solid black;
    background-color: rgb(0, 0, 0);
} */
.topBar{
    background-color: rgb(88, 139, 155);
    margin-left: 300px;
    margin-top: 150px;
    min-height: 200px;
    width: 1000px;
    border: 2px rgb(88, 139, 155);
    border-style: solid;
    border-radius: 10px 10px 0px 0px;
}
.botBar{
    min-height: 600px;
    margin-left: 300px;
    width: 1000px;
    border: 2px gray;
    border-style: solid;
}

.userPic{
    position: absolute;
    top: 300px;
    left: 400px;
    border: 2px gray;
    border-style:solid;
    border-radius: 50%;
}

.bigName{
    margin-top: 130px;
    margin-left: 100px;
    font-size: 4rem;
}

.mapMarker{
    width: 38px;
    position: absolute;
    top: 675px;
    left: 410px;
}


.location{
    margin-left: 170px;
    font-size: 2.6rem;
}

.botInfo{
    margin-left: 100px;
    font-size: 1.8rem;
}

.gear{
    width: 38px;
    position: absolute;
    top: 915px;
    left: 410px;
}
.editprof{
    margin-left:170px;
    font-size: 1.8rem;
    color:blue;
    text-decoration: underline blue;
}





.topConnect{
    background-color: rgb(35, 35, 36);
    margin-left: 200px;
    margin-top: 150px;
    min-height: 100px;
    width: 500px;
    color: white;
    vertical-align: middle;
    justify-content: center;
    display: flex;
}

.connectReq{
    margin-top: 45px;
}

.number{
    background-color: gray;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 32px;
    border: 3px solid #000;
    margin-right: 30px;
}



h1{
    vertical-align:middle;
}
.botConnect{
    background-color: blanchedalmond;
    min-height: 300px;
    margin-left: 200px;
    width: 500px;
}

